<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>公文控管系統</title>
  </head>
  <body>
    <% title = "新增文章" %> <%- include('partials/header.ejs') %>
    <form action="/documents/flash?_method=PUT" method="post">
      <label for="fileNumber">文件編號：</label>
      <input type="text" id="fileNumber" name="fileNumber" required />

      <label for="currentUnit">處理單位：</label>
      <input type="text" id="currentUnit" name="currentUnit" required />

      <label for="currentUnitRemark">單位備註：</label>
      <input type="text" id="currentUnitRemark" name="currentUnitRemark" />

      <button type="submit">提交</button>
    </form>
  </body>
</html>
